*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-image:url(./img/background-desktop\ 1.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 16px;
}

a{
    text-decoration: none;
    color: inherit;
}

header a{
    color: rgb(86, 190, 221);
    font-size: 1.5rem;
    border-bottom: 3px solid transparent;
}

header i{
    display: none;
}

header a:hover{
    border-bottom: 3px solid ;
    color: rgb(86, 190, 221);
}

header .logo-dc:hover{
    border: none;
}

header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

main{
    flex-grow: 1;
    display: flex;
}

.filme-conteiner{
    flex-grow: 1 ;
    display: flex;
    flex-direction: column;
}

.descricao{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;

}

.descricao p{
    width: 530px;
    font-size: 1.5rem;
    color: white;
}

.descricao button{
    display: none;
}

.trailers{
    height: 130px;
    display: flex;
    gap: 40px;
    display: flex;

}

.social-conteiner{
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    gap: 32px;
}

.social-conteiner i:hover{
    color: rgb(108, 161, 211);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: antiquewhite;
    font-style: italic;
    font-size: 18px;
}
/* configuraçao pra tablet*/
@media (max-width:768px){
    body{
        padding: 32px 0px 0px 32px;
    }

    .descricao{
        flex-grow: 0;
        padding: 60px;
        justify-content: flex-start;
    }

    .descricao p{
        text-align: center;
    }

    .social-conteiner{
        display: none;
    }

    .trailers{
        flex-direction: column;
        align-items: center;
    }

    .trailers img{
        width: 500px;
    }

    .trailers a:nth-child(3){
        display: none;
    }
    
    .footer{
        display: none;
}
}
/*configuraçao para celular*/
@media (max-width:480px) {
    body{
        background-image: url(./img/background-mobile\ 1.png);
    }

    header{
        justify-content: space-between;
        padding: 0px 38px 0px 20px;
    }

    header a{
        border-bottom: none;
        height: 48px;
    }

    header a:not(.logo-dc){
        display: none;
    }

    header i.fas{
        display: block;
        color: #D022ff;
        font-size: 30px;
    }
    .descricao{
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        padding: 0px;
        padding-bottom: 40px;
        gap: 32px;
    }

    .descricao img{   
        width: 95vw;
    }

    .descricao p{
        display: none;
    }

    .trailers{
        display: none;
    }

    footer{
        display: none;
    }

    .descricao a{
        display: flex;
        align-items:center ;
        justify-content: center;
        font-size: 1.2rem;
        color: #FFF;
        border-radius: 50px;
        border:3.5px solid #22FFFE ;
        background-color: #D022ff;
        display: block;
        outline: none;
        width: 200px;
        height: 50px;
    }
}